{% extends "layouts/sub.html" %}

{% block content %}





<div class="container card container-card" >


    <div class="row text-center justify-content-center mb-5">
        <div class="col-xl-12 col-lg-12">
            {% include "includes/_message.html" %}   

            <h2 class="font-weight-bold" style="margin-top: 40px;">{{ booking.tipe | title}}  </h2>
            <p class="">All steps require only 5 minutes to fill</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" style="width: 50%">
            <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                <div class="timeline-step">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                        <div class="inner-active"></div>                        
                       
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-md-6" style="width: 50%; padding-top: 15px; margin-left: -50px;">
           <p class="h6 text-muted mb-0 mb-lg-0">Submission</p>
        </div>
    </div>

      <div class="container">
       <div class="row">
        <div class="col-md-12">
          {% from "includes/_formhelpers.html" import render_field %} 
        </div>
        <div class="col-md-12" style="margin-top: 75px; margin-bottom: 50px;">

          <br>          
          <p style="">Hi, we are very happy you’re starting the application form to get your e-visa with us.<br>
            In this section you will be collecting all the documents needed to do it and choosing the best service you want to buy.<br>Some suggestions for you: </p>
            <ul>
              {% if booking.tipe != "social visa onshore" %}
              <li>Book your flight only after your visa in your mailbox</li>
              {% endif %}
              <li>Make sure the documents you are uploading are clear, flat, readable, no shadow, no flash</li>
              <li>Remember to not scan the documents showing your finger</li> 
              <li>Stay always updated about Indonesia government new rules through our blog</li>
            </ul>
            
            <br>
            <hr>
            <br>
          <p style="font-weight: 600;">Document Checklist</p>


         
            <form method="POST" enctype="multipart/form-data" id="form">
               {{ form.hidden_tag() }}
            <div class="row"> 
            
            
            <div class="col-md-6">

              <input type="checkbox" id="vehicle1" name="vehicle" value="Bike">
              <label for="vehicle1">  Scanning of the page of the passport details</label><br>
               <input type="checkbox" id="vehicle3" name="vehicle" value="Boat">
              <label for="vehicle3">Personal contact details</label><br>
             
            </div>  
            <div class="col-md-6">
             
             
              <input type="checkbox" id="vehicle3" name="vehicle" value="Boat">
              <label for="vehicle3">Covid-19 Vaccine Certificate/Card (in English)</label><br>
              {% if booking.tipe != "social visa onshore" %}
          
              <input type="checkbox" id="vehicle3" name="vehicle" value="Boat">
              <label for="vehicle3">Selfie picture in colour showing your face</label><br>
              <input type="checkbox" onchange="checkAll(this)" name="select" value="Bike">
                 <label for="select">Select all</label><br>
              {% else %}  
              <input type="checkbox" onchange="checkAll(this)" name="select" value="Bike">
                 <label for="select">Select all</label><br>       
                  <input type="checkbox" id="vehicle3" name="vehicle" value="Boat" checked="checked" style="display: none;">
              <label for="vehicle3" style="display: none;">Selfie picture in colour showing your face</label><br>
              
              {% endif %}
             
              

                
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6">
                
            </div>
            
          </div>
            
            

            <hr>

            
            <br>
            <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {{ render_field(form.services, class="form-control",autocomplete="off",placeholder="")}}  
              </div>
            </div>
            <div class="col-md-6">  
              <div class="form-group">
                {{ render_field(form.payment, class="form-control",autocomplete="off",placeholder="")}}   
              </div>
            </div>
            

           </div>
            <br>
            <br>


          <button type="submit" class="btn btn-outline-dark float-right">Next Step</button>
          </form>
        </div>  

        
        
      </div>
      <br>
      <br>

    </div>  









</div>

<script type="text/javascript">
  function checkAll(ele) {
       var checkboxes = document.getElementsByTagName('input');
       if (ele.checked) {
           for (var i = 0; i < checkboxes.length; i++) {
               if (checkboxes[i].type == 'checkbox' ) {
                   checkboxes[i].checked = true;
               }
           }
       } else {
           for (var i = 0; i < checkboxes.length; i++) {
               if (checkboxes[i].type == 'checkbox') {
                   checkboxes[i].checked = false;
               }
           }
       }
   }
 </script>
{% endblock %}