{% extends "layouts/sub.html" %}

{% block content %}

<div class="container card container-card" >


    <div class="row text-center justify-content-center mb-5">
        <div class="col-xl-12 col-lg-12">

             {% include "includes/_message.html" %}   
              <h2 class="font-weight-bold" style="margin-top: 40px;">{{ booking.tipe | title}}  </h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                <div class="timeline-step">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                        <div class="inner-active"></div>                        
                        <p class="h6 text-muted mb-0 mb-lg-0">Submission</p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2004">
                        <div class="inner-active"></div>                        
                        <p class="h6 text-muted mb-0 mb-lg-0">Personal Information</p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2005">
                        <div class="inner-circle"></div>                       
                        <p class="h6 text-muted mb-0 mb-lg-0">Emergency Contact</p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2010">
                        <div class="inner-circle"></div>
                       
                        <p class="h6 text-muted mb-0 mb-lg-0">Travel Document</p>
                    </div>
                </div>
                <div class="timeline-step mb-0">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2020">
                        <div class="inner-circle"></div>
                        
                        <p class="h6 text-muted mb-0 mb-lg-0">Upload Document</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <div class="container">
       <div class="row">
        
        <div class="col-md-12" style="margin-top: 75px; margin-bottom: 50px;">
         
          <p style="font-weight: 600;">Personal Information</p>
         
         {% from "includes/_formhelpers.html" import render_field %}
            <form method="POST" enctype="multipart/form-data" id="form">
               {{ form.hidden_tag() }}
                       
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {{ render_field(form.fullname, class="form-control",autocomplete="off",placeholder="")}}  
              </div>
            </div>
             <div class="col-md-6">
              <div class="form-group">
                {{ render_field(form.surname, class="form-control",autocomplete="off",placeholder="")}}  
              </div>
            </div>
            <div class="col-md-6">  
              <div class="form-group">
                {{ render_field(form.gender, class="form-control",autocomplete="off",placeholder="")}}   
              </div>
            </div>
            <div class="col-md-6">  
              <div class="form-group">
                {{ render_field(form.birthplace, class="form-control",autocomplete="off",placeholder="")}}   
              </div>
            </div>
            <div class="col-md-6">  
              <div class="form-group">
                {{ render_field(form.birthdate, class="form-control dtpick",autocomplete="off",placeholder="")}}   
              </div>
            </div>
            <div class="col-md-6">  
              <div class="form-group">
                {{ render_field(form.martial, class="form-control",autocomplete="off",placeholder="")}}   
              </div>
            </div>
            <div class="col-md-6">  
              <div class="form-group">
                {{ render_field(form.nationality, class="form-control",autocomplete="off",placeholder="")}}   
              </div>
            </div>
            <div class="col-md-6">  
              <div class="form-group">
                {{ render_field(form.email, class="form-control",autocomplete="off",placeholder="")}}   
              </div>
            </div>
            <div class="col-md-6">  
              <div class="form-group">
                {{ render_field(form.phone, class="form-control",autocomplete="off",placeholder="Please use + in the beggining, eg +62817181822")}}   
              </div>
            </div>
            

           </div>
           <hr>
           <p style="font-weight: 600;">Address in Original Country/Present *</p>
           <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {{ render_field(form.original_address, class="form-control",autocomplete="off",placeholder="")}}  
              </div>
            </div>

            <div class="col-md-6">  
              <div class="form-group">
                {{ render_field(form.original_city, class="form-control",autocomplete="off",placeholder="")}}   
              </div>
            </div>
            <div class="col-md-6">  
              <div class="form-group">
                {{ render_field(form.original_state, class="form-control",autocomplete="off",placeholder="")}}   
              </div>
            </div>
           
            <div class="col-md-6">  
              <div class="form-group">
                {{ render_field(form.original_zip, class="form-control",autocomplete="off",placeholder="")}}   
              </div>
            </div>
            <div class="col-md-6">  
              <div class="form-group">
                {{ render_field(form.original_country, class="form-control",autocomplete="off",placeholder="")}}   
              </div>
            </div>
                      

           </div>

            <hr>
          
           <br>
           <br>


            
            <button type="submit" class="btn btn-outline-dark float-right" style="margin:5px;">Next Step</button>
            <a href="/sub/step1/{{url }}" class="btn btn-outline-dark float-right" style="margin:5px;">Previous Step</a>
          </form>
        </div>  

        
        
      </div>
      <br>
      <br>

    </div>  









</div>

{% endblock %}