 <div class="hero-wrap js-fullheight" style="background-image: url('/static/assets/images/yoga.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true" >
        <div class="col-md-7 ftco-animate" style="margin-top: -140px !important;">
          <span class="subheading" >Welcome to Bali Zero</span>
          <h1 class="mb-4">Most Recommended Visa Application Center in Bali
          </h1>
          
          <div id="apply"class="review-widget_net float-left" data-uuid="725cf030-8d24-49a9-b44f-9af6ed3e53ce" data-template="2" data-filter="" data-lang="en" data-theme="light"><a href="https://www.review-widget.net/" target="_blank" rel="noopener"><img src="https://grwapi.net/assets/spinner/spin.svg" title="Google Review Widget" alt="Review Widget" style="text-align: left !important;"></a></div><script async type="text/javascript" src="https://grwapi.net/widget.min.js"></script>
          <br>
          <br>
          <!--
          <p class="caps">Travel to the any corner of the world, without going around in circles</p>-->
          <p><a href="/calling" class="btn btn-primary py-3 px-4">Bali Calling ?</a></p>
          <br>
        </div>
        <!--
        <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
          <span class="fa fa-play"></span>
        </a> -->
      </div>
    </div>
  </div>