<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %}
  {% endblock %}  
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="{{url_for ('static',filename='skillflare/css/main.css')}}" rel="stylesheet"/> 
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white">
      <div class="container">
        <a class="navbar-brand" href="#"><h3 style="font-weight:600;">INTERNAL</h3></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/leads">Leads</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/dashboard/booking/all">Order</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/dashboard/appointment">Appointment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/blog">Blog</a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>
  </header>
{% block content %}
{% endblock %}  
 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="{{url_for ('static',filename='skillflare/js/main.js')}}" type="text/javascript"></script>    

  <script>
    $(function() {
         $( ".dtpick" ).datepicker({
             changeYear:true,
         yearRange: "-100:+1"   
            });
        });
    </script>        

  <script type="text/javascript">
   $(document).ready(function() {
  $('#tallModal').modal('show');
});
 </script>     
</body>
</html>
