<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %}
  {% endblock %}  
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="{{url_for ('static',filename='sub/css/main.css')}}" rel="stylesheet"/> 
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

   <link href="{{url_for ('static',filename='assets/css/font-awesome.min.css')}}" rel="stylesheet"/>

       <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<link rel="shortcut icon" type="image/png" href="/static/assets/images/balizero.png"/>
    
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="/static/assets/images/risora.png" alt="logo" style="max-width: 75px;"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Back to Home</a>
            </li>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Need Help ?
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="wa.me/6281332982993"><img src="/static/sub/images/whatsapp.png" style="max-width: 20px;"> Whatsapp us</a>
                <a class="dropdown-item" href="mailto:info@balizero.com"><img src="/static/sub/images/gmail.png" style="max-width: 20px;"> Email us</a>
                
              </div>
            </li>

                        
            
          </ul>
        </div>
      </div>
    </nav>
  </header>
{% block content %}
{% endblock %}  
 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="{{url_for ('static',filename='sub/js/main.js')}}" type="text/javascript"></script>    



  <script>
    $('#autocomplete').select2({
  placeholder: 'Select an option'
});
</script>


  <script>
    $(function() {
         $( ".dtpick" ).datepicker({
             changeYear:true,
         yearRange: "-100:+1"   
            });
        });
    </script>        

<script>
    $(function() {
         $( ".expick" ).datepicker({
             changeYear:true,
         yearRange: "-1:+20"   
            });
        });
    </script>        


  <script type="text/javascript">
   $(document).ready(function() {
  $('#tallModal').modal('show');
});
 </script>     

 <script type="text/javascript">
  $('#myCarousel').carousel({
  interval: 10000
})

</script>



</body>
</html>
