{% extends "layouts/services.html" %}

{% block content %}

<style type="text/css">
  
  .c-black {
 font-size : 12px !important;
}
</style>


<section class="ftco-section ftco-about img"style="background-image: url(/static/assets/images/Slide1.PNG);">      <div class="overlay"></div>
      <div class="container py-md-5">
        <div class="row py-md-5">
          <div class="col-md d-flex align-items-center justify-content-center">
            <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
              <span class="fa fa-play"></span>

            </a>
            <h3 style="color: #fff; padding-left: 10px;">Business Visa OffShore</h3>
          </div>
        </div>
      </div>
    </section>


     <section class="ftco-section ftco-about ftco-no-pt img" style="background-color: #fff;">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-12 about-intro">
            <div class="row">
              <div class="col-md-6">
                <img src="/static/assets/images/pma.jpeg" style="margin-top: -80px; border: solid 3px #fff; border-radius: 2%;">
              </div>
              <div class="col-md-6 pl-md-5 py-5">
                <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate">
                   
                   <span class="subheading">Business Visa OffShore </span>
                    <h2 class="mb-4" style="font-size:25px !important;">ENTRY PERMIT UP TO 180 DAYS</h2>
                    <p>B211A Business Visa is the only Visa that you can obtain to enter Indonesia during this new normal era.</p>

                    <p>It is also available onshore to extend your stay in Indonesia Certification stating that you have received the full vaccine. Initially valid for 60 days , after you can extend for 4 times for 30 days. Total visit permit duration 180 days</p>
                    
                   
                  
                    <p><a href="/sub/order/business visa offshore" class="btn btn-primary">Apply Here</a> <a href="#pricing" class="btn btn-primary">See Price</a>  </p>
                    <p style="font-size: 20px; color:#000 !important;"><a data-toggle="modal" data-target="#exampleModalLong"><u>Before to apply check out the latest regulation </u></a></p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section style="background-color: #000; padding-top: 100px; padding-bottom: 100px;">
      <div class="container" id="pricing">        
            <div class="row">
              <div class="col-lg-12">
                 <h2 class="mb-4" style="color: #fff !important; text-align: center; padding-bottom: 50px; font-weight: 600;">Our Pricing</h2>
              </div>  
            </div>     
            <div class="tab-content wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <div role="tabpanel" class="tab-pane fade show active" id="yearly">
                    <div class="row justify-content-center">
                        
                        <div class="col-md-6 col-lg-3 mb-30">
                            <div class="price-item text-center">
                                <div class="price-top">
                                    <h4 style="font-size:15px;">E-Visa Regular</h4>
                                    <h2 class="mb-0"><sup>USD</sup>221</h2>
                                    <p class="float-right" style="padding-right: 15px;">Within 3 Weeks</p>
                                    
                                </div>
                                <div class="price-content">
                                    <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                        
                                        <li>
                                            
                                            <span class="c-black">Company or Social foundation Sponsorship </span>
                                        </li>
                                        
                                        <li>
                                            
                                            <span class="c-black">Immigration Approval + E-VISA Fee</span>
                                        </li>
                                        <li>
                                            
                                            <span class="c-black">Visa Tracking</span>
                                        </li>
                                       
                                        
                                    </ul>
                                    <p style="padding-top: 20px;">Note</p>
                                      <p style="font-size: 12px">3,2M IDR (221 $)<br>The USD price is a currency conversion from IDR and can be subjected exchange’s variations</p>
                                      <p style="font-size: 12px;">Valid for 60 days Can be extend 4 x 30 days</p>
                                      <p style="font-size: 12px;">Maximum stay 180 days</p>
                                      <p style="font-size: 12px;">The E-Visa Regular process take into consideration of all the bank holidays and the working days running in Indonesia</p>
                                    <br>
                                    <a href="/sub/order/business visa offshore" class="btn btn-primary">Apply Here</a>


                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 col-lg-3 mb-30">
                            <div class="price-item text-center">
                                <div class="price-top">
                                    <h4 style="font-size:15px;">E-Visa Express Process</h4>
                                    <h2 class="mb-0"><sup>USD</sup>249</h2>
                                    <p class="float-right" style="padding-right: 15px;">Within 5 Days</p>
                                    
                                </div>
                                <div class="price-content">
                                    <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                        
                                        <li>
                                            
                                            <span class="c-black">Company or Social foundation Sponsorship </span>
                                        </li>
                                        
                                        <li>
                                            
                                            <span class="c-black">Immigration Approval + E-VISA Fee</span>
                                        </li>
                                        <li>
                                            
                                            <span class="c-black">Visa Tracking</span>
                                        </li>
                                       
                                        
                                    </ul>
                                    <p style="padding-top: 20px;">Note</p>
                                    <p style="font-size: 12px">3M idr + 50 usd (249 $)<br>The USD price is a currency conversion from IDR and can be subjected exchange’s variations</p>
                                    <p style="font-size: 12px;">Valid for 60 days Can be extend 4 x 30 days</p>
                                      <p style="font-size: 12px;">
                                      Maximum stay 180 days</p>
                                      
                                      <p style="font-size: 12px;">Up to 5 Business days and does not include weekend, public holiday and closures by Immigration of Indonesia</p>
                                    <br>
                                    <a href="/sub/order/business visa offshore" class="btn btn-primary">Apply Here</a>


                                </div>
                            </div>
                        </div>

                        


                        <div class="col-md-6 col-lg-3 mb-30">
                            <div class="price-item text-center">
                                <div class="price-top">
                                    <h4 style="font-size:15px;">E-Visa Super Express Process</h4>
                                    <h2 class="mb-0"><sup>USD</sup>329</h2>
                                    <p class="float-right" style="padding-right: 15px;">Within 72H</p>
                                    
                                </div>
                                <div class="price-content">
                                    <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                        <li>
                                            
                                            <span class="c-black">Company or Social foundation Sponsorship </span>
                                        </li>
                                        <li>
                                            
                                            <span class="c-black">Immigration Approval + E-VISA Fee</span>
                                        </li>
                                        <li>
                                            
                                            <span class="c-black">Visa Tracking</span>
                                        </li>
                                       
                                        
                                    </ul>
                                    
                                    <p style="padding-top: 20px;">Note</p>
                                     <p style="font-size: 12px">4M + 50 usd (329 $)<br>The USD price is a currency conversion from IDR and can be subjected exchange’s variations</p>
                                    <p style="font-size: 12px;">Valid for 60 days Can be extend 4 x 30 days</p>
                                      <p style="font-size: 12px;">
                                      Maximum stay 180 days</p>
                                     
                                      <p style="font-size: 12px;">Up to 3 Business days and does not include weekend, public holiday and closures by Immigration of Indonesia</p>
                                      <br>
                                      <a href="/sub/order/business visa offshore" class="btn btn-primary">Apply Here</a>
                                    

                                </div>
                            </div>
                        </div>

                        

                        <div class="col-md-6 col-lg-3 mb-30">
                            <div class="price-item text-center">
                                <div class="price-top">
                                    <h4 style="font-size:15px;">E-Visa Super Express + Accomodation in COZero Living </h4>
                                    <h2 class="mb-0"><sup>USD</sup>700</h2>
                                    <p class="float-right" style="padding-right: 15px;">Package</p>
                                    
                                </div>
                                <div class="price-content">
                                    <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                        <li>
                                            
                                            <span class="c-black">Company or Social foundation Sponsorship </span>
                                        </li>
                                        <li>
                                            
                                            <span class="c-black">30 Days in our Coliving </span>
                                        </li>
                                        <li>
                                            
                                            <span class="c-black">Immigration Approval + E-VISA Fee</span>
                                        </li>
                                       
                                        <li>
                                          <span class="c-black">Coworking area and community events</span>
                                        </li>
                                         <li>
                                            
                                            <span class="c-black">Visa Tracking</span>
                                        </li>
                                       
                                        
                                    </ul>
                                   
                                    <p style="padding-top: 20px;">Note</p>
                                   
                                      <p style="font-size: 12px;">
                                      Maximum stay 180 days</p>
                                      <p style="font-size: 12px;">
                                     Up to 5 Business days after payment are cleared and all documents checked</p>
                                     
                                      <br>
                                       <a href="/services/cozero-living" class="btn btn-primary">Apply Here</a>

                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
                
            </div>
        </div>
      
    </section>

{% endblock %}