{% extends "layouts/services.html" %}

{% block content %}

<section class="ftco-section ftco-about img" style="background-image: url(/static/assets/images/Slide1.PNG);">
      <div class="overlay"></div>
      <div class="container py-md-5">
        <div class="row py-md-5">
          <div class="col-md d-flex align-items-center justify-content-center">
            <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
              <span class="fa fa-play"></span>

            </a>
            <h3 style="color: #fff; padding-left: 10px;">Freelance Kitas</h3>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section ftco-about ftco-no-pt img" style="background-color: #fff;">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-12 about-intro">
            <div class="row">
              <div class="col-md-6 d-flex align-items-stretch">
                <img src="/static/assets/images/hero-bg.jpeg" style="margin-top: -80px; border: solid 3px #fff; border-radius: 2%;">
                
              </div>
              <div class="col-md-6 pl-md-5 py-5">
                <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate">
                   
                  <span class="subheading">Freelance Kitas</span>
                    <h2 class="mb-4" style="font-size:25px !important;">WORKING PERMIT AS NO EMPLOYEE</h2>
                    <p>If you perform a specific artistic function such as DJ, Singer, Model, Sports Instructor, Yoga Teacher, etc.</p>

                    <p>this is a legal work permit issued by the Indonesian government for foreigners to live and work in Bali for maximum of 6 months without needing any employers. With this visa you will have multiple entry benefit.</p>
                    
                  
                 
                  
                    <p><a href="/sub/appointment/freelance kitas" class="btn btn-primary">GET WORKING PERMIT</a> <a data-toggle="modal" data-target="#exampleModalLong" class="btn btn-primary">Check out the latest regulation</a> </p>
                     <p style="font-size: 20px; color:#000 !important;"><u>Starting From 11M idr + 750 usd (1.535 $)</u></p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}
