{% extends "layouts/services.html" %}

{% block content %}

<section class="ftco-section ftco-about img"style="background-image: url(/static/assets/images/Slide1.PNG);">      <div class="overlay"></div>
      <div class="container py-md-5">
        <div class="row py-md-5">
          <div class="col-md d-flex align-items-center justify-content-center">
            <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
              <span class="fa fa-play"></span>

            </a>
            <h3 style="color: #fff; padding-left: 10px;">Set Up PT PMA</h3>
          </div>
        </div>
      </div>
    </section>

     <section class="ftco-section ftco-about ftco-no-pt img" style="background-color: #fff;">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-12 about-intro">
            <div class="row">
              <div class="col-md-6 d-flex align-items-stretch">

                <img src="/static/assets/images/investment.jpeg" style="margin-top: -80px; border: solid 3px #fff; border-radius: 2%;">

               
              </div>
              <div class="col-md-6 pl-md-5 py-5">
                <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate">
                    
                   <span class="subheading">Set Up pt pma </span>
                    <h2 class="mb-4" style="font-size:25px !important;">BUSINESS COMPANY</h2>
                    <p>What is PMA company in Indonesia? Those who are interested in investing in Indonesia likely want to know about it. PMA (Penanaman Modal Asing) is an Indonesian term referring to a company fully or partially owned by foreigners.</p>

                    <p>PMA company is a legal entity in which foreign investors can invest and do their business in the country. It has the same as rights and liabilities as any other company in Indonesia.</p>
                    <p>The owner of the company is minimum two—either an individual or legal entity such as investment company or government. The organization structure must consist of at least one director and one commissioner. PMA can also employ foreign workers as long as they obtain the permit to do so</p>
                    
                    
                   
                    <p><a href="/sub/appointment/set up pt pma" class="btn btn-primary">SET UP A COMPANY </a> <a data-toggle="modal" data-target="#exampleModalLong" class="btn btn-primary">Check out the latest regulation</a> </p>
                     <p style="font-size: 20px; color:#000 !important;"><u>Starting From 25M idr (1.745 $) </u></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
