{% extends "layouts/services.html" %}

{% block content %}


<section class="ftco-section ftco-about img"style="background-image: url(/static/assets/images/Slide1.PNG);">
      <div class="overlay"></div>
      <div class="container py-md-5">
        <div class="row py-md-5">
          <div class="col-md d-flex align-items-center justify-content-center">
            <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
              <span class="fa fa-play"></span>

            </a>
            <h3 style="color: #fff; padding-left: 10px;">Social Visa Onshore</h3>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section ftco-about ftco-no-pt img" style="background-color: #fff;">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-12 about-intro">
            <div class="row">
              <div class="col-md-6 d-flex align-items-stretch">
                 <img src="/static/assets/images/social.jpeg" style="margin-top: -80px; border: solid 3px #fff; border-radius: 2%;">

              
              </div>
              <div class="col-md-6 pl-md-5 py-5">
                <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate">
                    
                   <span class="subheading">Social Visa Onshore</span>
                    <h2 class="mb-4" style="font-size:25px !important;">STAY PERMIT UP TO 150 DAYS</h2>
                    <p>What is visa b211 onshore (social visa)? An Indonesian B211 visa onshore is for those who are already in Indonesia b211 offshoreon visa don’t work or get employed, and can participate in seminars & workshops.</p>

                    <p>A social b211 visa holder is allowed to stay in Indonesia for up to 30 days with 4 extensions, each 30 days. Total visit permit duration 150 days</p>
                    
                  
                    <p><a href="/sub/order/social visa onshore" class="btn btn-primary">Apply Here</a> <a href="#pricing" class="btn btn-primary">See Price</a> </p>
                    <p style="font-size: 20px; color:#000 !important;"><a data-toggle="modal" data-target="#exampleModalLong"><u>Before to apply check out the latest regulation</u></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section style="background-color: #000; padding-top: 100px; padding-bottom: 100px;">
      <div class="container" id="pricing">        
            <div class="row">
              <div class="col-lg-12">
                 <h2 class="mb-4" style="color: #fff !important; text-align: center; padding-bottom: 50px; font-weight: 600;">Our Pricing</h2>
              </div>  
            </div>     
            <div class="tab-content wow fadeIn" style="visibility: visible; animation-name: fadeIn;" >
                <div role="tabpanel" class="tab-pane fade show active" id="yearly">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-lg-4 mb-30">
                            <div class="price-item text-center">
                                <div class="price-top">
                                    <h4 style="font-size:18px;">E-VISA Regular</h4>
                                    <h2 class="mb-0"><sup>USD</sup>221</h2>
                                    
                                </div>
                                <div class="price-content">
                                    <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                        <li>
                                            
                                            <span class="c-black">Company or Social foundation Sponsorship </span>
                                        </li>
                                        <li>
                                            
                                            <span class="c-black">Sponsorship</span>
                                        </li>
                                        <li>
                                            
                                            <span class="c-black">Visa Approval & E-VISA Fee</span>
                                        </li>
                                       
                                        
                                    </ul>
                                    
                                    <p style="padding-top: 20px;">Note</p>
                                      <p style="font-size: 12px">3,2M IDR (221 $)<br>The USD price is a currency conversion from IDR and can be subjected exchange’s variations</p>
                                      <p style="font-size: 12px;">The E-Visa Regular process take into consideration of all the bank holidays and the working days running in Indonesia</p>

                                    <br>
                                     <a href="/sub/order/social visa onshore" class="btn btn-primary">Apply Here</a>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 mb-30">
                            <div class="price-item text-center">
                                <div class="price-top">
                                    <h4 style="font-size:18px;">E-VISA</h4>
                                    <h2 class="mb-0"><sup>USD</sup>245</h2>
                                    
                                </div>
                                <div class="price-content">
                                    <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                        <li>
                                            
                                            <span class="c-black">Company or Social foundation Sponsorship </span>
                                        </li>
                                        <li>
                                            
                                            <span class="c-black">Sponsorship</span>
                                        </li>
                                        <li>
                                            
                                            <span class="c-black">Visa Approval & E-VISA Fee</span>
                                        </li>
                                       
                                        
                                    </ul>
                                    
                                    <p style="padding-top: 20px;">Note</p>
                                     <p style="font-size: 12px">2,8M IDR + 50 usd (245 $)<br>The USD price is a currency conversion from IDR and can be subjected exchange’s variations</p>
                                    <p style="font-size: 12px;">211 visa maximum stay 30 days Can be extend 4 x 30 days.</p>
                                      <p style="font-size: 12px;">
                                      Maximum stay 150 days Excludes Extension fee 850.000 IDR / Extension</p>
                                      <p style="font-size: 12px;">
                                      Up to 10 Business days after payment are cleared and all documents checked</p><p style="font-size: 12px;">Up to 10 Business days and does not include weekend, public holiday and closures by Immigration of Indonesia</p>

                                    <br>
                                     <a href="/sub/order/social visa onshore" class="btn btn-primary">Apply Here</a>

                                </div>
                            </div>
                        </div>
                       
                        <div class="col-md-6 col-lg-4 mb-30">
                            <div class="price-item text-center">
                                <div class="price-top">
                                    <h4 style="font-size:18px;">E-VISA + VISA EXTENSION</h4>
                                    <h2 class="mb-0"><sup>USD</sup>315</h2>
                                    
                                </div>
                                <div class="price-content">
                                    <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                        <li>
                                            
                                            <span class="c-black">Company or Social foundation Sponsorship </span>
                                        </li>
                                        <li>
                                            
                                            <span class="c-black">Sponsorship</span>
                                        </li>
                                        <li>
                                            
                                            <span class="c-black">Visa Approval & E-VISA Fee</span>
                                        </li>
                                         <li>
                                            
                                            <span class="c-black">4 x Regular Visa Extensions</span>
                                        </li>
                                      
                                    </ul>
                                    
                                    <p style="padding-top: 20px;">Note</p>
                                    <p style="font-size: 12px">3,8 IDR + 50 usd (315 $)<br>The USD price is a currency conversion from IDR and can be subjected exchange’s variations</p>
                                    <p style="font-size: 12px;">211 visa maximum stay 30 days Can be extend 4 x 30 days.</p>
                                      <p style="font-size: 12px;">
                                     Maximum stay 150 days</p>
                                      <p style="font-size: 12px;">
                                      Up to 10 Business days after payment are cleared and all documents checked</p><p style="font-size: 12px;">Up to 10 Business days and does not include weekend, public holiday and closures by Immigration of Indonesia</p>
                                      <br>
                                      <a href="/sub/order/social visa onshore" class="btn btn-primary">Apply Here</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
      
    </section>


{% endblock  %}
