{% extends "layouts/services.html" %}

{% block content %}

<section class="ftco-section ftco-about img"style="background-image: url(/static/assets/images/Slide1.PNG);">
      <div class="overlay"></div>
      <div class="container py-md-5">
        <div class="row py-md-5">
          <div class="col-md d-flex align-items-center justify-content-center">
            <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
              <span class="fa fa-play"></span>

            </a>
            <h3 style="color: #fff; padding-left: 10px;">Family Kitas</h3>
          </div>
        </div>
      </div>
    </section>


   <section class="ftco-section ftco-about ftco-no-pt img" style="background-color: #fff;">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-12 about-intro">
            <div class="row">
              <div class="col-md-6 d-flex align-items-stretch">

                 <img src="/static/assets/images/spouse.jpeg" style="margin-top: -80px; border: solid 3px #fff; border-radius: 2%;">

               
                </div>
              </div>
              <div class="col-md-6 pl-md-5 py-5">
                <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate">
                    
                    <span class="subheading">Family Kitas</span>
                    <h2 class="mb-4" style="font-size:25px !important;">MARRIAGE VISA</h2>
                    <p>Married to an Indonesian Citizen?<br>

The Spouse Sponsored KITAS is the Visa you are looking for if you are a foreigner married to an Indonesian Citizen. There are two available options:</p>

                    <p>1. The Spouse Sponsored KITAS (Kartu Izin Tinggal Terbatus) which carries a one-year validity</p>
                    <p>

2. The Spouse Sponsored KITAP (Kartu Izin Tinggal Tetap) which carries a 5-year validity if already 2 years married.</p>
                  
                  
                    
                    <p><a href="/sub/appointment/spouse kitas" class="btn btn-primary">GET FAMILY VISA</a> <a data-toggle="modal" data-target="#exampleModalLong" class="btn btn-primary">Check out the latest regulation</a> </p>
                     <p style="font-size: 20px; color:#000 !important;"><u>Starting From 8,5 M + 150 usd (745 $)</u></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock  %}
