{% extends "layouts/services.html" %}

{% block content %}
 


<section class="ftco-section ftco-about img"style="background-image: url(/static/assets/images/Slide1.PNG);">
      <div class="overlay"></div>
      <div class="container py-md-5">
        <div class="row py-md-5">
          <div class="col-md d-flex align-items-center justify-content-center">
            <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
              <span class="fa fa-play"></span>

            </a>
            <h3 style="color: #fff; padding-left: 10px;">Working Kitas</h3>
          </div>
        </div>
      </div>
    </section>

   <section class="ftco-section ftco-about ftco-no-pt img" style="background-color: #fff;">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-12 about-intro">
            <div class="row">
              <div class="col-md-6 d-flex align-items-stretch">

                 <img src="/static/assets/images/working.jpeg" style="margin-top: -80px; border: solid 3px #fff; border-radius: 2%;">

                
              </div>
              <div class="col-md-6 pl-md-5 py-5">
                <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate">
                   
                   <span class="subheading">Working Kitas</span>
                    <h2 class="mb-4" style="font-size:25px !important;">WORKING PERMIT AS EMPLOYEE</h2>
                    <p>The Work Visa KITAS is issued to foreign nationals who want to work for an Indonesian company or organization.</p>

                    <p>For a work KITAS, your employer has to obtain a work permit (IMTA) for you from the Indonesian Ministry of Manpower. You will then receive a KITAS based on the duration of your work contract.</p>
                    
                  
                    <p><a href="/sub/appointment/working kitas" class="btn btn-primary">GET WORKING VISA</a> <a data-toggle="modal" data-target="#exampleModalLong" class="btn btn-primary">Check out the latest regulation</a></p>
                    <p style="font-size: 20px; color:#000 !important;"><u>Starting From 10,5M idr + 1,350 usd (2,095 $)</u></p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock  %}