{% extends "layouts/index.html" %}

{% block content %}


	<!-- END nav -->
	<div id="tallModal" class="modal modal-wide fade" data-keyboard="false" data-backdrop="static">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
        
      </div>		
	      
	      <div class="modal-body">   
	      
	               <div class="row">    
	                    <div class="col-md-12">
	                      
	                      <p>Welcome ! </p>
	                      <p>If you are planning to come to Bali just for a while o for longer period you will find with us all the information you may need. Maybe you’re coming as tourist, or maybe you’re a digital nomad who wants to spend time working remotely in the beautiful Island of Gods, or maybe you want to explore the hundreds business possibilities there are now in Indonesia…</p>
	                      <p>Whatever it will be your desire to come to Bali, you are welcome and we will help you in every step to came safe and legally following the rules of the new traveling world after the Pandemic.</p>
	                      <p>This website will be providing 100% remotely the documents you will need to travel and it will always be your updated info point to clarify every doubt you may have.</p><p>First step for you is to check out the type of Visa more suitable to your visit purpose !</p>
	                      <br>	                    
  							
	                     <a href="/#apply"><button class="btn btn-primary py-3 px-4 text-center">Which Visa Type Should I Apply</button></a><br>
	                      <br>	
	                      <br>
	                      
	                    </div>                    
	                </div>
	    
	      </div>

	      
	    </div>
	  </div>
	</div>  


{% endblock %} 
