{% extends "layouts/index.html" %}

{% block content %}

	<div id="tallModal" class="modal modal-wide fade" data-keyboard="false" data-backdrop="static">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
         <a href="/" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        
      </div>		
	      
	      <div class="modal-body">   
	      
	               <div class="row">    
	                    <div class="col-md-12 text-center">
	                      
	                     </p>Please enter right email format</p>
	                      <br>
	                     <a href="/#apply" class="btn btn-primary py-3 px-4 text-center">Apply Again</a><br>
	                      <br>	
	                      <br>
	                      
	                    </div>                    
	                </div>
	    
	      </div>

	      
	    </div>
	  </div>
	</div>  
	


{% endblock %} 
