<div class="col-md-12">
						<div class="row">
							<div class="col-md-12 col-lg-3 d-flex align-self-stretch ftco-animate">
								<div class="services services-1 d-block">
									<div class="icon d-flex align-items-center justify-content-center"><h3 class="" style="color: #fff; font-size: 20px;">SATU</h3></div>
									<div class="media-body">
										<br>
										<h3 class="heading mb-3 account" style="color:#474747;">01. Create an Account</h3>
										
									</div>
								</div>      
							</div>

							<div class="col-md-12 col-lg-3 d-flex align-self-stretch ftco-animate">
								<div class="services services-1 d-block">
									<div class="icon d-flex align-items-center justify-content-center"><h3 class="" style="color: #fff; font-size: 20px;">DUA</h3></div>
									<div class="media-body">
										<br>
										<h3 class="heading mb-3 account" style="color:#474747;">02. Upload Your Document</h3>
										
									</div>
								</div>      
							</div>

							<div class="col-md-12 col-lg-3 d-flex align-self-stretch ftco-animate">
								<div class="services services-1 d-block">
									<div class="icon d-flex align-items-center justify-content-center"><h3 class="" style="color: #fff; font-size: 20px;">TIGA</h3></div>
									<div class="media-body">
										<br>
										<h3 class="heading mb-3 account" style="color:#474747;">03. Complete The Payment</h3>
										
									</div>
								</div>      
							</div>
							<div class="col-md-12 col-lg-3 d-flex align-self-stretch ftco-animate">
								<div class="services services-1 d-block">
									<div class="icon d-flex align-items-center justify-content-center"><h3 class="" style="color: #fff; font-size: 20px;">EMPAT</h3></div>
									<div class="media-body">
										<br>
										<h3 class="heading mb-3 account" style="color:#474747;">04. Track Status & Get Your Visa</h3>
										
									</div>
								</div>      
							</div>
							
														
						</div>
					</div>
				</div>